.page-container {
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
  box-sizing: border-box;
}

.instructor-area{
  height: 100vh; 
  
}

.instructor-section {
  background-image: url("../assets/icons/bgcontact.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  height:70vh;
 
}

.instructor-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 24px;
  margin-top: 50px;
   padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
 
}

.section-title{
  display: flex;
  color: white;
   font-size: 45px;
  font-weight: 700;
    justify-content: center;
  width: 100%;
  
}
.section-subtitle{
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-size: 14px;
  color:  #FE543D;
  

}
/* 
blog section */
.blog-section {
 padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
  max-height: 100vh;
  padding-bottom: 90px;
  position: relative;
 
}
.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/* LEFT SIDE */
.header-left {
  display: flex;
  flex-direction: column;

  
}

.header-text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #2FC7A1;
  text-transform: uppercase;
 
}

.header_title_blog{
  font-size: 45px;
  font-weight: 700;
  margin-top: 12px;

}
.blog_red_image{
position: absolute;
left: 55%;
top: 10px;

}

/* RIGHT SIDE */
.header-right {
  display: flex;
  align-items: center;
  margin-right: 86px;
   
}


.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
justify-items: center;
gap: 30px;
 
 
}

.btn_blog_post{
margin-bottom: 40px;
}

