.classroom-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  gap: 80px;
  padding: 60px 80px;
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
}

.classroom-content {
  flex: 1;
}

.classroom_content_lead {
  display: flex;
}

.status-section-title {
  position: relative;
  font-weight: 700;
  font-style: Bold;
  font-size: 45px;
  line-height: 40px;
  width: 560px;
  text-transform: capitalize;
}

.status-image1 {
  position: absolute;
  left: 540px;
  top: 170px;
}
.status-image2 {
  position: absolute;
  right: 0px;
  top: 0px;
}
.status-image3 {
  position: absolute;
  right: 300px;
  top: 110px;
  z-index: 0;
}

.status-image4 {
  position: absolute;
  top: 580px;
  left: 0px;
}
.classroom_image {
  position: relative;
  z-index: 3;
}

.status-section-subtitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #2fc7a1;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.status-highlight {
  color: #ff4f3d;
}

.section-description {
  font-size: 17px;
  margin-bottom: 30px;
  color: #555;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.stat-item span {
  color: #0e2a46;
  font-weight: 600;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 8px;
  display: block;
}

.stat-item {
  position: relative;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 8px;
  height: 16px;
  position: relative;
}

.progress {
  background-color: #2fc7a1;
  height: 100%;
  border-radius: 8px;
  position: relative;
  transition: width 0.5s ease-in-out;
  color: #fff;
  font-size: 12px;
  text-align: right;
  padding-right: 6px;
  line-height: 16px;
  font-weight: 600;
}

.progress svg {
  position: absolute;
  right: -15px;
  top: -35px;
  width: 30px;
  height: 30px;
  z-index: 10;
}

.classroom-image {
  flex: 1;
  margin-top: 40px;
}

/* feature section */
.feature-section {
  background-image: url("../assets/icons/bgfeature.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 120px 20px;
  max-height: 100vh;
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
}

.feature-subtitle {
  color: #28c690;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 1px;
}

.feature-heading {
  font-size: 32px;
  margin: 10px 0 40px;
  font-weight: 800;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

/* cta section */
.cta-section {
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../assets/icons/bgjoin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
}
.cta-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e2a46;
  opacity: 0.9;
  z-index: 1;
  pointer-events: none;
}

.cta-content {
  z-index: 10;
  color: white;
}

.cta-subtitle {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: #ff5252;
  margin-bottom: 10px;
}

.cta-title {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 60px;
  line-height: 72px;
}

/* Right side with video */
.cta-video,
.watch-label {
  text-align: center;
  color: white;
  z-index: 10;
}
.cta-video {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 320px;
  position: relative;
  align-items: center;
  gap: 10px;
  z-index: 10;
}

.play-button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 24px;
  cursor: pointer;
  margin: 0 auto;
}

.watch-label {
  margin-top: 10px;
  font-size: 14px;
  text-decoration: underline;
}
.video_image1 {
  position: absolute;
  bottom: 60px;
  left: 1050px;
  z-index: 11;
}

.video_image2 {
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
}

.video_image3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

/* exam preparation section */

.exam-prep-section {
  padding: 80px var(--default-padding-left);
  text-align: center;
  position: relative;
  overflow: visible;
}

.exam-subtitle {
  display: flex;
  color: #2fc7a1;
  font-size: 14px;
  justify-content: center;
  margin-bottom: 8px;
  gap: 10px;
}

.exam-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 50px;
}

.prep-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.prep-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.prep-card-content h3,
.prep-card-content p {
  margin: 0;
  padding: 0;
}

.prep-card-content p {
  font-size: 20px;
  font-weight: 400;
}

.prep-card {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: flex-end;

  align-items: stretch;
}

.exam_image {
  height: auto;
  max-height: 120%;
  width: auto;
  align-self: flex-end;
  display: block;
  position: relative;
  bottom: -40px;
  right: -20px;
  flex-shrink: 0;
}

.exam1_image {
  position: absolute;
  left: -130px;
  top: -30%;
  transform: translateY(-50%);
  z-index: 1;
}

.exam2_image {
  position: absolute;
  right: 0;
  top: -40%;
  transform: translateY(-50%);
  z-index: 1;
}

.prep-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
  z-index: 2;
}

/* testimonial section */
.testimonial-section {
  width: 100%;
  background-image: url("../assets/icons/bgtestimony1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
  height: 70vh;
  min-height: 100vh;
}

.testimonial-banner {
  width: 100vw;
  background-color: #ff4f3d;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: 10vh;
  min-height: 80px;
  overflow: hidden;
}

.banner-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.testimonial-banner h1 {
  font-weight: 400;
  font-size: 35px;
  margin: 0;
  line-height: 1;
  white-space: nowrap;
}

.testimonial-banner svg {
  height: 30px;
  width: auto;
}

.testimonial-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

/* Left Image */
.testimonial-image img {
  position: relative;
  z-index: 1;
  width: 50%;
  width: 760px;
  margin-left: -170px;
  overflow: hidden;
  object-fit: cover;
  height: 70vh;
}

.testimonial-image {
  position: relative;
  z-index: 1;
}

/* Right Card */
.testimonial-card {
  background-image: url("../assets/icons/bgtestimony.png");
  position: relative;
  z-index: 10;
  right: 120px;
  width: 790px;
  height: 398px;
  border-radius: 5px;
  flex: 1;
  color: #fff;
}

.testimony_image_bg {
  display: none;
  position: absolute;
  z-index: 0;
  right: -40px;
  top: 140px;
}
.testimonial-text {
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
  margin-left: 80px;
  position: relative;
}

.quote-icon {
  color: grey;
  font-size: 100px;
  vertical-align: top;
  margin-left: 40px;
  margin-top: 40px;
}

/* Author section */
.testimonial-author {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;

  position: relative;
}

.author-img-wrapper {
  position: relative;
  padding: 30px;
  width: 58px;
  height: 58px;
  gap: 40px;
  border-radius: 50%;
  border: 1.5px dashed #704fe6;
  display: flex;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
}

.author-info h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.author-info span {
  font-size: 14px;
  color: #ccc;
}

/* Dots */
.testimonial-dots {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-right: 20px;
  gap: 8px;
}

.dot {
  display: flex;

  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex-end;
}

.dot.active {
  border: 2px solid white;
}
