.register-page {
  width: 100%;
 
}

.register-form-area {
  display: flex;
  width: 100%;
  min-height: 80vh;
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
}

.register-form-left {
  width: 50%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.register-form {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.register-form label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.register-form input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-form button {
  width: 100%;
  padding: 0.8rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-form button:disabled {
  background-color: #999;
  cursor: not-allowed;
}


.login-text {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.login-text span {
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
}

.register-form-right {
  width: 50%;
  background-image: url('../assets/icons/registerbg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.alert {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}
