.course-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  overflow: hidden;
  transition: 0.2s ease;

  height: 100%;
}

.course-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(9, 30, 63, 0.08);
}

.card-media {
  position: relative;
  width: 100%;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.card-media svg {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  object-fit: cover;
}

.category {
  position: absolute;
  left: 82px;
  top: 72px;
  background: #ff6b4a;
  color: #fff;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;
  font-weight: 600;
}

.card-body {
  padding: 20px;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rating-num {
  color: #6b7280;
  font-size: 13px;
}

.stars {
  display: flex;
  gap: 2px;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
  color: #0b2340;
  line-height: 1.35;
  margin: 0;
}

.meta {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.meta-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #6b7280;
  font-size: 13px;
  justify-content: flex-start;
}

.meta-icon {
  display: inline-flex;
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 100%;
  border: 1px dashed #4d5756;
  background: #e5e7eb;
  margin-top: 4px;
}

.card-footer {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: auto;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.author-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
}

.author-name {
  font-size: 13px;
  color: #6b7280;
}
.price-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 0;
}

.price-values {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.price {
  font-size: 25px;
  font-weight: 700;
  color: #1f2937;
}

.old-price {
  color: #4d5756;
  font-weight: 700;
  font-size: 16px;
  text-decoration: line-through;
  opacity: 0.8;
}

.add-to-cart {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #111827;
  cursor: pointer;
}
