.page-container {
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
  box-sizing: border-box;
}

.footer {
  background:url( "../assets/icons/bgfooter.jpg");
  color: #fff;
  font-family: "Inter", sans-serif;

 

}

.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px;
  position: relative;
}

.footer-top::after {
  content: "";
  position: absolute;
  left: -180px;
  right: -180px;
  bottom: 0;

  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}



.info-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px 40px;
  position: relative;
  
}

.info-item::after {
  content: "";
  position: absolute;
  right: 0;

  top:-40px;
  bottom: -40px;

  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.info-item:last-child::after {
  display: none;
}

.info-item-top{
  display: flex;
  flex-direction: column;
  gap: 14px;
  
}

.info-item-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #FFFFFF0D;

  border: 1px solid  #F4F4F480;

  display: flex;
  align-items: center;
  justify-content: center;
}


.info-item svg {
  font-size: 25px;
  color: white;
}

.info-item span {
  font-size: 12px;
  color: #2ec4b6;
}

.footer-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  padding: 60px 80px;
  padding-top: 80px;
 

 
 
}

.logo {
  font-size: 28px;
  margin-bottom: 12px;
}
.footer-about{
  width: 300px;

}



.socials {
  display: flex;
  gap: 10px;
  
  margin-top: 20px;
 
}

.icon-wrapper {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background:  #4D5756;

  display: flex;
  align-items: center;
  justify-content: center;
 
  cursor: pointer;
}

.icon-wrapper svg {
  width: 17px;
  height: 17px;
}

.footer_info{
font-weight: 400;
font-size: 17px;
line-height: 32px;

  width: 330px;

}

.footer-links h4,
.footer-gallery h4,
.footer-subscribe h4 {
  margin-bottom: 16px;
}

.footer-links {
 
  margin-left: 0px;
 
}

.footer-content{
font-weight: 700;
font-style: Bold;
font-size: 22px;
line-height: 24.2px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;

}

.footer-content-list {
  display: flex;
align-items: center;
gap: 20px;
  cursor: pointer; 
font-weight: 400;
font-size: 17px;
line-height: 32px;
text-transform: capitalize;


}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.gallery-item {
 
border-radius: 5px;
}

.gallery-heaader{
 font-family :'Epilogue', sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 22px;
line-height: 24.2px;
}

.footer-subscribe input {
  width: 100%;
  width: 272px;
  height: 58px;
  
font-weight: 400;

font-size: 14px;
line-height: 100%;


  margin-bottom: 20px;
  padding-left: 18px;
  border: none;

}

.footer-subscribe button {
  width: 100%;
  padding: 12px;
  background: #2FC7A1;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 185px;
height: 60.5px;
border-radius: 5px;

}

.footer-bottom {
  text-align: center;
  padding: 20px;
  font-size: 17px;
}

.footer-bottom span {
  color: #2ec4b6;
}
