.instructor-card {
  background: #0e2a46;
  width: 312px;
  height: 490px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
}

.instructor-card:hover {
  transform: translateY(-6px);
}

.instructor-img img {
  width: 100%;
  object-fit: cover;
}

.instructor-info {
  padding: 20px;
 
}

.instructor-info h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.instructor-info span {
  color: #FE543D;
  font-size: 14px;
  margin-top: 8px;
}

.instructor-social {
  position: absolute;
  justify-content: center;
  align-items: center;
  top:340px ;
  right: 140px;
  background:  #FE543D;
  color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}
